@import 'functions';

body {
    font-family: montserrat;
    background-image: linear-gradient(to right, rgb(187, 187, 187) , rgb(138, 138, 138));
}

h1 {
    border: 3px solid black;
    border-radius: 20px;
    background-color: white;
    width: auto;
    box-shadow: 5px 5px #000000;
}

button {
    cursor: pointer;

}

.centered {
    text-align: center;
}
  
.slide {
    font-family: montserrat;
    text-align: center;
    font-size: 60px;
    height: 120px;
    width: 80px;
    @include hover();
}

.green {
    &:hover {
        @include hoverBG();
    }
}
.yellow {
    &:hover {
        @include hoverBG();
    }
}
.blue {
    &:hover {
        @include hoverBG();
    }
}
.brown {
    &:hover {
        @include hoverBG();
    }
}

.game {
    box-shadow: 5px 5px #000000;
    border: 3px solid black;
    border-radius: 30px;
    overflow:hidden;
    display: flex;
    height: 480px;
    width: auto;
}

.content {
    @include coloredBG(rgb(255, 240, 154));
    padding: 20px;
    font-size: 40px;
    height: 480px;
    width: 100%;
}

.slidebar{
    border-right: 3px solid black;
    display: flex;
    flex-direction: column;
    height: 480px;
    width: 80px;
}

.answers {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 265px;
    height: 100px;
    width: 100%;
    flex-wrap: wrap;
}

.qst {
    border-radius: 20px;
    background-color: white;
    margin: 5px;
    font-size: 20px;
    border: 2px solid rgb(0, 0, 0);
    height: 40px;
    width: 200px;
    @include hoverOrange();
}

.prev {
    border: 2px solid rgb(0, 0, 0);
    font-size: 21px;
    background-color: white;
    border-radius: 20px;
    float: left;
    height: 40px;
    width: 120px;
    @include hover();
}

.next {
    border: 2px solid rgb(0, 0, 0);
    font-size: 21px;
    background-color: white;
    border-radius: 20px;
    float: right;
    height: 40px;
    width: 120px;
    @include hover();
}

#showResultsBtn {
    font-size: 21px;
    background-color: white;
    border-radius: 20px;
    float: right;
    height: auto;
    width: 120px;
    @include hover();
}

.showSlides {
    display: block !important;
}

.everythingExceptSlidebar {
    width: 100%
}

.chosenAnswer {
    background-color: orange !important;
}

#alertBox {  
    border-radius: 15px;
    text-align:center;
    font-size: 40px;
    height: 100px;
    width: 600px;
    background-color: red;
    color: white;
    position:fixed;
    z-index: 100;  
    top:50%;  
    left:50%;  
    margin:-100px 0 0 -100px;
    -webkit-animation: cssAnimation 3s forwards; 
    animation: cssAnimation 3s forwards;
}

@keyframes cssAnimation {
    0%   {opacity: 1;}
    90%  {opacity: 1;}
    100% {opacity: 0;}
}
@-webkit-keyframes cssAnimation {
    0%   {opacity: 1;}
    90%  {opacity: 1;}
    100% {opacity: 0;}
}

@media (max-width: 700px) {

    .content {
        font-size: 30px;
        display: flex;
        flex-direction: column;
    }
    .next {
        font-size: 12px !important;
        height: 20px;
        width: 60px;
    }

    .prev {
        margin-bottom: 4px;
        font-size: 12px !important;
        height: 20px;
        width: 70px;
    }

    .qst {
        font-size: 12px !important;
        height: 20px;
        width: 100px;
    }
    
    .slidebar {
        display: none;
        position: relative;
        top: 0px;
        flex-direction: row;
    }

    #mobileSlides {
        @include hover();
        border: 2px solid rgb(0, 0, 0);
        height: 50px;
        width: 25px;
        margin-right: -25px;
        margin-bottom: -50px;
        border-radius: 15px;
        overflow: hidden;
        background-color: white;
        position: relative;
        left: 10px;
        top: 20px;
        display: block !important;
    }

    .centered {
        padding-left: 20px;
        display: flex;
        flex-direction: column;
    }

    .qText {
        width: 200px;
    }

    #alertBox {
        width: 250px;
        height: 100px; 
        font-size: 20px;
    }
}